In [3]:
import sys
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

from keras.preprocessing.text import text_to_word_sequence

% matplotlib inline

Using TensorFlow backend.

In [2]:
coffee = pd.read_csv('./updated_coffee_df.csv')
coffee['Date'] = pd.to_datetime(coffee['Date'])
coffee.head()

,Unnamed: 0,Unnamed: 0.1,year,month,day,level_3,Title,Date,Price,Price_Change,Direction,Rate_of_Change
0,0,0,2007,1,2,Title,India earns more from higher coffee exports in...,2007-01-02,1.1506,0.0000,0,0.000000
1,1,1,2007,1,3,Title,Friesland raises stake in Indonesian subsidiar...,2007-01-03,1.1760,0.0254,0,0.022075
2,2,2,2007,1,4,Title,Nymex announces start date for soft commodity ...,2007-01-04,1.1451,-0.0309,0,-0.026276
3,3,3,2007,1,5,Title,India's largest coffee chain extends to Pakistan,2007-01-05,1.1506,0.0055,0,0.004803
4,4,4,2007,1,7,Title,Honduran coffee sales Ugandan coffee funds Soy...,2007-01-07,1.1506,-0.0000,0,0.000000